[submodule "lib/TVBox_warehouse"]
	path = lib/TVBox_warehouse
	url = https://github.com/PizazzGY/TVBox_warehouse.git
[submodule "lib/hcr"]
	path = lib/hcr
	url = https://agit.ai/hu/hcr.git
[submodule "lib/pxy"]
	path = lib/pxy
	url = https://agit.ai/gk0746/pxy.git
[submodule "lib/PG"]
	path = lib/PG
	url = https://github.com/aaaafeng123/PG.git
[submodule "lib/tvbox18"]
	path = lib/tvbox18
	url = https://github.com/qirenzhidao/tvbox18.git
[submodule "lib/jar"]
	path = lib/jar
	url = https://jihulab.com/Pizazz/tvbox.git
[submodule "lib/APPzby"]
	path = lib/APPzby
	url = https://gitcode.com/wang2023-JX/APPzby.git
[submodule "lib/zby"]
	path = lib/zby
	url = https://github.com/mlvjfchen/zby
