[submodule "lib/TVBox_warehouse"]
	path = lib/TVBox_warehouse
	url = https://github.com/PizazzGY/TVBox_warehouse.git
[submodule "lib/tvbox18"]
	path = lib/tvbox18
	url = https://github.com/qirenzhidao/tvbox18.git
[submodule "lib/tvbox"]
	path = lib/tvbox
	url = https://github.com/sf467/Tvbox1.git
